body {
    font-family: Arial, sans-serif;
    background-color: #282850;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #282850;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: purple;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin: 10px 0 5px;
    color: white;
  }
  
  input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  input[type="submit"] {
    margin-top: 20px;
    background-color: purple;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  input[type="submit"]:hover {
    background-color: purple;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: -8px;
  }
